---
---
// Import partials from `sass_dir`
@import "tachyons"

// Flexbox-powered sticky footer solution, from
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
body
	display: flex
	min-height: 100vh
	flex-direction: column

main
	flex: 1

// Improved sans font stack, workaround for
// https://github.com/tachyons-css/tachyons/issues/340
.sans
	font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, noto, 'helvetica neue', helvetica, arial, ubuntu, sans-serif

// Fancy link hovers, improved focus states
a
	-webkit-tap-highlight-color: transparent
	color: inherit
	text-decoration-skip: ink
	transition: all .25s !important
	&:focus
		outline: 1px solid !important
		text-decoration: none
	&.grow
		border: 1px solid transparent
		&:focus
			outline: none !important
			border-color: inherit

// Google Maps
#map
	>div
		background-color: #111 !important
	&:not(:hover)
		.gmnoprint, .gm-style-cc, [href]
			display: none !important

// stuff with titles gets help cursor, but not links
[title]:not([href])
	cursor: help

// Custom selection colors
*::selection
	background-color: #fff
	color: #111
